/* p{
    color: blue;
    font-size: 20px;
    margin-left: 30px;
    border: 3px solid black;
} */

/* .(period operator)class_name
{
    properties:value
} */

.main {
    border: 1px dashed red;
    color: cyan;
    background-color: blueviolet;
}

.main1
{
    border: 1px  dotted green;
}

.main2
{
    color: blue;
   font-size: 25px;
   font-weight: 150px;
}

.container
{
    font-size: 2rem;
    width: 70px;
    margin-left: 50px;
    border: 1px solid black;
    overflow:hidden;
    text-overflow:ellipsis;
}

div.container:hover
{
    overflow: visible;
}

.container1
{
    font-size: 1rem;
    width: 200px;
    margin-left: 50px;
    border: 1px solid black;
 overflow:scroll;
.overflow-x:auto;
height: 120px;   
}

.text_shadwo
{
    font-size: 40px !important;
     text-shadow: -2px 5px 4px red; /*-2px is horizontal 5px is vertitcal 4px is blur last is color */
}

.container2
{
    background-color: aqua;
    font-size: 60px;
}

.imgOpacity
{
    opacity:1;
}

div.imgOpacity img:hover
{
    opacity: 0.8;
}

.parent
{
    background-image: url("vaibhav photo.jpg");
   background-repeat: no-repeat;
   height: 500px;
   width: 1000px;
}